<% stylesheet 'chosen' %>

<% form_for(@star, :html => {:class => 'round clearfix',
    :id => 'new_star_form'}) do |f| %>
  <%= f.error_messages %>
  <% if @user %>
    <h2>Give a star to <%= @user.name %></h2>
    <%= f.hidden_field 'to_ids' %>
  <% else %>
    <select multiple name="star[to_ids][]" id="team_selector"
      data-placeholder="Select a team member...">
      <% current_user.others.sort_by(&:name).each do |u| %>
        <option value="<%= u.id %>"><%= u.name %></option>
      <% end %>
    </select>
  <% end %>
  <%= f.text_area :reason, :maxlength => 1024,
    :placeholder => "What for?" %>

  <%= f.hidden_field :star_type %>

  <div class="round clearfix" id="selected_star">
    <%= image_tag(@star.image_path, :id => 'selected_star_image') %>
    <span id="selected_star_title"><%= @star.name %></span>
  </div>
  <%= f.submit 'Give Star', :class => 'small button' %>
<% end %>

<div id="star_chooser" title="Choose a star">
  <ul class="clearfix">
    <% Star.sorted_star_types.map do |type, values| %>
      <li>
        <% image_path = "/images/star-types/#{type}.png" %>
        <div class="star_image_container" data-label="star_type_<%= type %>">
          <%= image_tag(image_path) %>
        </div>
        <%= values["title"].gsub("Star", "").strip %>
        <%= radio_button_tag :star_type, type, false,
          'data-image-path' => image_path, 'data-title' => values['title'] %>
      </li>
    <% end %>
  </ul>
</div>
