<li class="star sheer round clearfix<%= ' multi' if star.to.size > 1 %>" 
    id="star_<%= star.id %>">
  <div class="primary_content clearfix">
    <div class="star_image round">
      <%= image_tag star.image_path %>
    </div>
    <div class="recipient">
      <%= star.to.map{|u| photo(u)}.join %>
    </div>
    <div class="info">
      <h2><%= star.to.map(&:name).to_sentence %> got a
        <%= star.name %></h2>
      <div class="reason">
        <%= star.reason %>
      </div>
      <div class="time">
        Awarded by <%= star.from.name %> on 
        <%= friendly_time(star.created_at) %> &nbsp;
        <% if current_user.can_second?(star) %>
          <%= second_button(star) %>
        <% end %>
      </div>
    </div>
  </div>  
  <% if star.seconds.any? %>
    <div class="actions-and-seconds clearfix">
      <div class="seconds_count">
        <%= pluralize(star.seconds.size, "second") %>
      </div>
      <%= star.seconds.map{|second| photo(second.user)}.join %>
    </div>
  <% end %>
  <ul class="comments">
    <% star.comments.each do |comment| %>
      <li class="clearfix">
        <%= photo(comment.author) %>
        <div class="body">
          <%= comment.body %>
        </div>
      </li>
    <% end %>
  </ul>
  <div class="new_comment">
       <% form_for(Comment.new(:star_id => star.id, :author_id => current_user.id)) do |f| %>
         <%= f.error_messages %>
         <%= f.hidden_field :star_id %>
         <%= f.hidden_field :author_id %>
         <%= f.text_field :body, :placeholder => "Leave a comment..." %>
       <% end %>
  </div>
</li>
