<li class="star sheer round clearfix">
  <%= render :partial => 'shared/photo_pair',
             :locals => {:star => star, :size => :square} %>
  <div class="info">
    <div class="reason">
      <%= star.reason %>
    </div>
    <div class="time">
      <%= friendly_time(star.created_at) %>
    </div>
     <div class="new_comment">
          <% form_for(Comment.new(:star_id => star.id, :author_id => current_user.id)) do |f| %>
            <%= f.error_messages %>
	    <%= f.hidden_field :star_id %>
	    <%= f.hidden_field :author_id %>
            <p>
              <%= f.label :body %><br />
              <%= f.text_field :body %>
            </p>
            <p>
              <%= f.submit 'Create' %>
            </p>
          <% end %>
     </div>
  </div>
  <%= render :partial => 'stars/second', :locals => {:star => star} %>
  <ul class="comments">
    <% star.comments.each do |comment| %>
      <li>
        <%= photo(comment.author) %>
        <%= comment.author.name %>
        <%= comment.body %>
        <%= friendly_time(comment.created_at) %>
      </li>
    <% end %>
  </ul>
</li>
