<% stylesheet 'stars' %>

<% if @user %>
  <h1><%= @user.name %>&rsquo;s Stars</h1>
<% end %>

<aside>
  <div class="box">
    <%= render :partial => "/stars/new_star_form" %>
  </div>
  <% if @last_weeks_superstars.present? %>
    <div class="box" id="last_week">
      <h2>Last Week's Superstars</h2>
      <%= render :partial => "superstars",
                 :locals => {:users => @last_weeks_superstars} %>
    </div>
  <% end %>
  <% if @current_superstars.present? %>
    <div class="box" id="this_week">
      <h2>This Week's Contenders</h2>
      <%= render :partial => "superstars",
                 :locals => {:users => @current_superstars} %>
    </div>
  <% end %>
</aside>

<section>
  <ul id="recent_stars">
    <%= render :partial => '/stars/star', :collection => @stars %>
  </ul>

  <%= link_to "See More", stars_path, 'data-page' => 2,
    'data-remote' => true, 'data-append-id' => 'recent_stars',
    :class => "see_more round" %>
</section>
